.main-wrapper {
    max-width: 1600px;
    margin: auto;
}

.text {
    font-size: 60px;
    font-family: "OpenSans";
    color: rgb(0, 0, 0);
}

li .nav-item:hover {
    background-color:#ff2d2d;
}

.navbar {
    padding: 0;
}

.line {
    min-height: 55px;
}

.btn-size {
    width: 200px;

}

.centered {
    left: 43%;
    top: 40%;
}

.form-control::-webkit-input-placeholder  { color: grey }


body { font-size: 11pt; color: #aaa; }